name: Build Windows CUDA DLL
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout user code
        uses: actions/checkout@v4

      - name: Install CUDA
        uses: Jimver/cuda-toolkit@v0.2.30
        with:
          cuda: '13.1.1'
          method: 'network'

      - name: Checkout OpenCV
        uses: actions/checkout@v4

        with:
          repository: opencv/opencv
          ref: 4.10.0
          path: opencv

      - name: Checkout OpenCV Contrib
        uses: actions/checkout@v4
        with:
          repository: opencv/opencv_contrib
          ref: 4.10.0
          path: opencv_contrib

      - name: Configure and Build OpenCV with CUDA
        shell: bash
        run: |
          # Конфигурируем OpenCV. Отключаем тесты и сторонние модули для ускорения сборки
          cmake -S opencv -B opencv_build -G "Visual Studio 17 2022" \
            -DCMAKE_BUILD_TYPE=Release \
            -DOPENCV_EXTRA_MODULES_PATH="${{ github.workspace }}/opencv_contrib/modules" \
            -DWITH_CUDA=ON \
            -DCUDA_FAST_MATH=ON \
            -DWITH_CUDNN=OFF \
            -DWITH_CUBLAS=ON \
            -DCUDA_ARCH_BIN="75;80;86" \
            -DBUILD_TESTS=OFF \
            -DBUILD_PERF_TESTS=OFF \
            -DBUILD_EXAMPLES=OFF \
            -DBUILD_DOCS=OFF \
            -DBUILD_JAVA=OFF \
            -DBUILD_opencv_python2=OFF \
            -DBUILD_opencv_python3=OFF

          # Собираем OpenCV (этот процесс займет много времени)
          cmake --build opencv_build --config Release --parallel

      - name: Configure CMake for User Project
        shell: bash
        run: |
          cmake -S . -B build -G "Visual Studio 17 2022" \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_STANDARD=17 \
            -DOpenCV_DIR="${{ github.workspace }}/opencv_build" \
            -DCMAKE_CUDA_ARCHITECTURES="75;80;86"

      - name: Build User Project
        run: cmake --build build --config Release --target cuda_wrapper

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cuda_wrapper_windows
          path: build/Release/cuda_wrapper.dll
