name: Build Windows CUDA DLL
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install CUDA
        uses: Jimver/cuda-toolkit@v0.2.30
        with:
          # Версия CUDA из конфига: 13.1.115. Используем минорную версию 13.1.x
          cuda: '13.1.1' 
          method: 'network'

      - name: Install OpenCV
        run: |
          # Обновлено до версии 4.13.0 согласно конфигурации
          curl -L -o opencv.exe https://github.com/opencv/opencv/releases/download/4.13.0/opencv-4.13.0-windows.exe
          7z x opencv.exe -o${{ github.workspace }}\opencv_dist

      - name: Configure CMake
        shell: bash
        run: |
          cmake -S . -B build -G "Visual Studio 17 2022" \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_CXX_STANDARD=17 \
          -DOpenCV_DIR="${{ github.workspace }}/opencv_dist/opencv/build" \
          -DCMAKE_CUDA_ARCHITECTURES="75;80;86;87;88;89;90;100;103;110;120;121"

      - name: Build
        run: cmake --build build --config Release --target cuda_wrapper

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cuda_wrapper_windows
          path: build/Release/cuda_wrapper.dll
